fieldset {
  border: none;
  margin-block: 3rem;
}

.pricing-toggle {
  --baseSize: 12px;

  label {
    margin: 0 0.8rem 0;
    font-size: calc(var(--baseSize) * 1.5);
    color: hsl(var(--clr-neutral-300));
    cursor: pointer;
  }

  input[type="radio"] {
    display: inline-block;
    width: 42%;
    height: 80%;
    margin-inline-end: -5px;
    opacity: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.pricing-toggle__wrapper {
  display: inline-block;
  width: 5.3em;
  height: 3em;
  font-size: var(--baseSize);
  vertical-align: middle;

  border-radius: 3.5rem;
  border: 1px solid #ddd;
  position: relative;

  &:focus-within {
    outline: 3px solid black;
  }
}

.pricing-toggle__switcher {
  display: block;

  position: absolute;
  top: 3.4px;
  left: 5.3px;
  right: 100%;
  // width: 43%;
  height: 80%;
  aspect-ratio: 1;

  border-radius: 50%;
  background-color: hsl(var(--clr-neutral-400));
  transition: all 0.1s ease-out;
  z-index: 2;
}

.pricing-toggle__background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 3.5rem;
  background-image: var(--gradient-toright);
  transition: all 0.1s ease-out;
}

#monthly:checked ~ .pricing-toggle__switcher {
  right: 0;
  left: 48%;
}

/* support Windows High Contrast Mode. */
@media screen and (-ms-high-contrast: active) {
  .pricing-toggle__switcher {
    background-color: windowText;
  }
}
