@use "../abstract" as *;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/MontserratBold.woff2") format("woff2"),
    url("/fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: var(--ff-primary);
}

.main {
  min-height: inherit;

  @include flex-center(column);

  background: right top no-repeat url("../../public/images/bg-top.svg"),
    left bottom no-repeat url("../../public/images/bg-bottom.svg");

  &-heading {
    color: hsl(var(--clr-neutral-200));
  }
}

// utility
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
