@use "../abstract" as *;

.pricecards {
  text-align: center;

  @media screen and (min-width: 62em) {
    display: flex;
  }

  &-basic__price,
  &-master__price,
  &-professional__price {
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    margin-block-start: 0.3rem;
  }

  &-basic__heading,
  &-master__heading {
    color: hsl(var(--clr-neutral-200));
  }

  &-basic__price,
  &-master__price {
    color: hsl(var(--clr-neutral-100));
  }

  &-basic__details,
  &-master__details {
    &--btn {
      color: #fff;
      background-image: var(--gradient-toright);

      &:hover {
        background-image: none;
        color: hsl(var(--clr-primary-100));
        border: 1.2px solid hsl(var(--clr-primary-100));
      }

      &:focus-visible {
        outline: 2.5px solid black;
        outline-offset: 3px;
      }
    }
  }

  &-professional__details {
    --color: #ffffff74;

    &--btn {
      color: hsl(var(--clr-primary-100));

      &:hover {
        background-color: transparent;
        color: #fff;
        border: 1.2px solid #fff;
      }

      &:focus-visible {
        outline: 2.5px solid #fff;
        outline-offset: 3px;
      }
    }
  }

  &-basic__details,
  &-master__details,
  &-professional__details {
    margin-block-start: 1rem;
    li {
      padding-block: 0.5rem;
      border-bottom: 1px solid var(--color, hsl(var(--clr-neutral-300)));
    }

    li:first-of-type {
      border-top: 1px solid var(--color, hsl(var(--clr-neutral-300)));
    }
  }

  &-basic,
  &-master,
  &-professional {
    border-radius: 0.5rem;
  }

  &-basic,
  &-master {
    padding: 2.5rem 2rem;
    background-color: #fff;
    margin-block: 1.5rem;

    box-shadow: 0 0.8rem 3rem 0.1rem hsl(var(--clr-primary-200) / 0.4);
  }

  &-professional {
    padding: 4rem 2rem;
    background-image: var(--gradient-diagonal);
    color: #fff;
  }

  &-btn {
    width: 100%;
    margin-block-start: 1.5rem;
  }
}
